# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignorar binários pesados do sidecar
src-tauri/bin/

# Pastas do ambiente Python
python_motor/dist/
python_motor/build/
python_motor/venv/
python_motor/*.spec